body {
    font-family: Inter, sans-serif;
   }

.navneskilt-generator {
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 1280px;
    margin: 0;
    height: fit-content;
}

.form-left {
    background-color: white;
    padding: 30px;
}

.form-right {
    background-color: rgb(197, 195, 195);
    display: flex;
    justify-content: center;
    align-items: center;

}

p {
    margin-top: 0px;

}

h1 {
    margin-bottom: 0px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 0px;
}

input {
    width:100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.role-btn {
    padding: 14px;
    width: 100%;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.green {
    background: #c9ef9b;
}

.purple {
    background: #d6c1f7;
}

.blue {
    background: #b7eef3;
}

.card {
    background: white;
    width: 350px;
    border-radius: 12px;

}

.top {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.img-box {
    width: 140px;
    height: 160px;
    background: #ddd;
    border-radius: 6px;
    margin-bottom: 15px;
}

.role-tag {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 6px;
    background: #c9ef9b;
    margin-top: 10px;
    font-weight: 600;
}

.bottom {
    margin-top: 20px;
    padding: 10px;
    border-radius: 0 0 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.print-btn {
    margin-top: 20px;
    padding: 8px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    background: rgb(141, 141, 141);
    color: white;
}

.reset-btn {
    margin-top: 20px;
    padding: 8px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    background: rgb(141, 141, 141);
    color: white;
}

@media print {

    .form-left {

        display: none;
    }

    .form-right {
        background: none;
        background-color: white;
    }



}