body {
    font-family: Inter, sans-serif;
    display: flex;
    gap: 40px;
    padding: 40px;
    background: white;

}

.form-left {
    width: 400px;

}
.form-right {
    width: 600px;
    background-color: rgb(197, 195, 195);
}
.p {
    margin-top: 0px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 0px;
}
input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.role-btn {
    padding: 14px;
    width: 100%;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.green {
    background: #c9ef9b;
}

.purple {
    background: #d6c1f7;
}

.blue {
    background: #b7eef3;
}

.card {
    margin-top: 100px;
    height: fit-content;
    width: fit-content;
    background: white;
    border-radius: 20px;
    margin-left: 100px;
    gap: 100px;
}

.top {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.img-box {
    width: 140px;
    height: 160px;
    background: #ddd;
    border-radius: 6px;
    margin-bottom: 15px;
}

.role-tag {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 6px;
    background: #c9ef9b;
    margin-top: 10px;
    font-weight: 600;
}

.bottom {
    margin-top: 20px;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.print-btn {
    margin-top: 20px;
    padding: 12px 18px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: black;
    color: white;
}

@media print {

    .form-left {

 display: none;
    }
    .form-right {
        background: none;
    }

   

}