body {
        font-family: Inter, sans-serif;
        display: flex;
        gap: 40px;
        padding: 40px;
        background: #e5e5e5;
    }

    .form {
        width: 350px;
    }

    input {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        border: 2px solid #ccc;
        border-radius: 6px;
        font-size: 16px;
    }

    .role-btn {
        padding: 14px;
        width: 100%;
        border: none;
        border-radius: 6px;
        margin-top: 10px;
        font-size: 18px;
        cursor: pointer;
    }

    .green { background: #c9ef9b; }
    .purple { background: #d6c1f7; }
    .blue { background: #b7eef3; }

    .card {
    width: 360px;
    max-width: 360px; 
    background: white;
    padding: 20px;
    border-radius: 20px;
}

    .img-box {
        width: 140px;
        height: 140px;
        background: #ddd;
        border-radius: 6px;
        margin-bottom: 15px;
    }

    .role-tag {
        display: inline-block;
        padding: 6px 12px;
        border-radius: 6px;
        background: #c9ef9b;
        margin-top: 10px;
        font-weight: 600;
    }

    .bottom {
        margin-top: 20px;
        padding: 10px;
        border-radius: 0 0 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .print-btn {
        margin-top: 20px;
        padding: 12px 18px;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        background: black;
        color: white;
    }